NODE_ENV=development
PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/toy1
JWT_SECRET=replace-with-a-long-random-secret
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173
COOKIE_SAME_SITE=lax

CLOUDINARY_CLOUD_NAME=tnt0capi
CLOUDINARY_API_KEY=959287172581136
CLOUDINARY_API_SECRET=4pmNyJhBAMNYw1dfEC621Vd3_As


VAPID_PUBLIC_KEY=BLFvwH9uTLnigCm7XQk7fVqDCYZpWer1CpSDzucT4yHix-K9ICptHRqFxNCYHUxSfo70bKoaSlin_quzOzM2Mgk
VAPID_PRIVATE_KEY=0TkWOPSo-xUusxMXYf0QdVTy_l953JD9uwpmue6U1Z0
VAPID_SUBJECT=mailto:admin@example.com

ADMIN_USERNAME=admin
ADMIN_PASSWORD=1234567891011
